@font-face
{
	font-family: digital;
	src: url(fonts/DSDIGI.woff);
}

.gameboard
{
	width: 400px;
	height:500px;
}
.header
{
	overflow:auto;
}
.box-centered table td
{
	padding: 0px;
}
.box
{
	width: 15px;
	height: 15px;
	background-color: #AAA;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF #808080 #808080 #FFFFFF;
	padding: 0px;
}
.bordered
{
	border-width: 3px;
	border-style: solid;
	border-color: #808080 #FFFFFF #FFFFFF #808080;
}

.counter
{
	font-family:digital;
	color:#ff2300;
	font-size: 30px;
	background: #000000;
	width:47px;
	padding: 0px;

}
#smiley
{
	float:left;
	margin: 0 180px;
	background: #c0c0c0;
}
#bombs
{
	float:left;
}
#seconds
{
	float:right;
}
